@import "../../shared.module.scss";

.label {
  display: block;
  margin-top: 20px;
}

.textInput {
  border: 1px solid $black;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 0;
  border-radius: 0;
  outline: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.textarea {
  @extend .textInput;
  resize: none;
}

.ingredient {
  padding: 10px 15px;
  margin: 5px 0;
  background: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    cursor: pointer;
  }
}

.inputGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}