@import "../../shared.module.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

.pageWrapper {
  max-width: 900px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}