.wrapper {
  padding: 15px 0;
}

.header {
  font-size: 42px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  
  @media (min-width: 768px) {
    font-size: 72px;
    margin: 15px;
  }
}

.description {
  font-size: 20px;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}