@import "../../shared.module.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  
  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }
}